<md-card>
  <md-card-header>
    <img md-card-avatar src="https://material.angular.io/shiba1.d84e1a8ed94377452dbf.jpg" />
    <md-card-title>Title</md-card-title>
    <md-card-subtitle>2017-05-24</md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.</p>
  </md-card-content>

  <md-card-actions>
    <button md-button>Show</button>
  </md-card-actions>
</md-card>